<div class="container-fluid">
    <h2>Dashboard</h2>
    <hr>

    
    <table class="table" id="dataTable" style="display:none">
      <thead>
        <th>Items Sold</th>
      </thead>
      <tbody>
        <tr>
          <td><%= total_penerimaan%></td>
        </tr>
        <tr>
          <td><%= total_pengeluaran%></td>
        </tr>
      </tbody>
    </table>
    <% const kas1 = kas.filter(item => item.id === 'kas1' ) %>
    <% const kas2 = kas.filter(item => item.id === 'kas2' ) %>
    <% const kas3 = kas.filter(item => item.id === 'kas3' ) %>
    <table class="table" id="dataTable1" style="display:none">
      <thead>
        <th>Items Sold</th>
      </thead>
      <tbody>
        <tr>
          <td><%= kas1[0].total %></td>
        </tr>
        <tr>
          <td><%= kas2[0].total %></td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div class="row g-3">
      <div class="col">
        <div class="donut-container">
          <canvas id="donut" ></canvas>
        </div>
      </div>
      <div class="col">
        <div class="chart-container">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div> 
    <script src="/ressources/js/cart.js"></script>
    <script src="/ressources/js/donut.js"></script>
</div>
  