<div class="container-fluid">
    <h2>Dashboard</h2>
    <hr>
    <!-- <div id="chart"></div> -->
    <!-- <div id="pieChart"></div> -->
    <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <script src="/ressources/js/cart.js"></script>
</div>
  