<div class="container text-center">
    <img src="/ressources/null.png" alt="null" class="img-thumb m-5">
    <h4>Menu penerimaan masih kosong</h4>
    <h6>Silakan tambahkan menu di pengaturan</h6>
</div>