<div class="card card-login text-center mt-5">
    <div class="card-header">
        <h5 class="arabic p-3 m-0">السَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-7 align-self-center text-wrap">
                <h3 class="text-primary fw-bold">SAKUMU</h3>
                <p>Sistem Aplikasi Keuangan Muhammadiyah.</p>
            </div>
            <div class="col-sm-5 col-login">
                <h5>Login Aplikasi</h5>
                <form class="form-group mt-5" method="post" action="/login">
                    <div class="row">
                        <div class="input-group mb-3 input-group-sm">
                            <span class="input-group-text" id="icon-person"><i class="bi bi-person-circle"></i></span>
                            <input type="text" class="form-control" name="inpUser" id="inpUser" placeholder="Username" aria-label="Username" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 input-group-sm">
                            <span class="input-group-text" id="icon-pass"><i class="bi bi-key-fill"></i></span>
                            <input type="password" class="form-control" name="inpPass" id="inpPass" placeholder="Password" aria-label="Password" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mx-auto mt-3">
                        <!-- <input type="submit" value="Submit" class="btn"> -->
                        <button type="submit" class="btn btn-primary btn-sm">Masuk</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <p class="p-0 m-0">Powered by PT BPRS Mitra Mentari Sejahtera</p>
    </div>
</div>
