<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <!-- CSS (bootstrap) -->
    <link rel="stylesheet" href="/styles/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/ressources/css/mms.css">
    <link rel="stylesheet" href="/ressources/css/bg-depan.css">
    <link rel="stylesheet" href="/icon/bootstrap-icons.css">
    <script src="/styles/dist/js/bootstrap.js"></script>   
</head>
<body>
    <div class="container-fluid">
        <%- body %> 
    </div>
    <!-- author : rikiyukie -->
</body>
</html>