<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>

    <!-- CSS (bootstrap) -->
    <link rel="stylesheet" href="/styles/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/ressources/css/mms.css">
    <link rel="stylesheet" href="/icon/bootstrap-icons.css">
    <script src="/styles/dist/js/bootstrap.js"></script>   
</head>
<body>
  <main>
    <div class="container-fluid min-vh-100 d-flex flex-column">
      <div class="row flex-grow-1">
          <div class="col-md-2 m-0 p-0">            
            <%- include('./partials/sidebar'); %>
          </div>
          <div class="col-md-10 p-3 border bg-light">   
            <%- body %> 
          </div>
      </div>
  </div>
</main>
<!-- author : rikiyukie -->
</body>
</html>