<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a <% if(menu === 'akun'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/settings/akun">Akun</a>
    </li>
    <li class="nav-item">
        <a <% if(menu === 'kas'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/settings/kas">Kas & Sumber Dana</a>
    </li>
    <li class="nav-item">
        <a <% if(menu === 'menu'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/settings/menu">Menu</a>
    </li>
    <li class="nav-item">
        <a <% if(menu === 'siswa'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/settings/siswa">Siswa</a>
    </li>
</ul>

  