<div class="modal fade" id="delAllSiswa<%= kd %>" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="m-0 p-0 text-white">Hapus Data Siswa</h5>
        </div>
        <div class="modal-body text-start">
          <p>Apakah anda yakin ingin menghapus seluruh siswa pada kelas <%= nama %>?</p>
        </div>
        <div class="modal-footer">          
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Batal</button>
            <form action="/settings/delsiswa/all?kd=<%= kd %>" method="post">
                <button type="submit" class="btn btn-danger btn-sm">Ya Hapus</button>
            </form>
        </div>        
      </div>
    </div>
</div>