<div class="modal fade" id="mHapusSd<%= id %>" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white">Hapus Sumber Dana</h5>
            </div>
            <div class="modal-body text-start">
                <h6>Apakah anda yakin ingin menghapus sumber dana "<%= nama %>"?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Batal</button>
                <form method="post" action="<%= del %>">
                    <button type="submit" class="btn btn-danger btn-sm">Iya hapus</button>
                </form>
            </div>
        </div>
    </div>
</div>