<div class="modal fade" id="mHapus" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="m-0 p-0 text-white">Hapus Data</h5>
        </div>
        <div class="modal-body text-start">
          <p>Apakah anda yakin ingin menghapus data ini?</p>
        </div>
        <div class="modal-footer">          
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Batal</button>
          <a href="/penerimaan/<%= sub %>/delete?id=<%= data.timestamp %>" class="btn btn-danger btn-sm">
            Ya Hapus
          </a>
        </div>        
      </div>
    </div>
</div>